{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<div style="width: 33%; margin: 0 auto; margin-top: 10%" class="ui center raised very padded text container segment">
		<form class="ui form" action="/connecter" method="post">
			<h4 class="ui dividing header">Complétez les champs pour vous connecter</h4>
			<div class="field">
		    	<input type="email" name="email" id="email" placeholder="Adresse e-mail"/>
		  	</div>
		  	<div class="field">
		    	<input type="password" name="mdp" id="mdp" placeholder="Mot de passe"/>
		  	</div>
		  	{{ form.csrf_token }}
		  	<button class="ui primary button" type="submit">Valider</button>
		  	<a href="/oublier">
			  	<div class="ui floated right basic red button">
	        		Mot de passe oublié
	    		</div>
	    	</a>
		</form>
	</div>

{% endblock %}