html,
body {
   margin:0;
   padding:0;
   height:100%;
   overflow-x: hidden;
}
#container {
   height:100%;
   min-height: 100%;
   position: relative;
}
#body {
   margin: 20px;
   padding-bottom: 60px;   /* Height of the footer */
}
#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;   /* Height of the footer */
}