{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <!-- Leaflet -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
    <!-- Style pour la carte (à mettre dans un fichier à part) -->
    <style>
    #map {
    	height: 600px;
    }
    </style>
{% endblock %}

{% block content %}

	<h1 class="ui header">Accueil</h1>

	<div class="ui form">
	    <div class="fields">
	    	<div class="field">
	      		<label>Je cherche un restaurant le...</label>
	      		<input type="text" id="date" placeholder="Date">
	    	</div>
	    	<div class="field">
	      		<label>A telle heure...</label>
	      		<input type="text" id="heure" placeholder="Heure">
	    	</div>
	    	<div class="field">
	      		<label>Pour...</label>
	      		<input type="text" id="personnes" placeholder="Personnes">
	    	</div>
            <div class="field">
                <label>Au nom de...</label>
                <input type="text" id="nom" placeholder="Un nom de réservation">
            </div>
            <div class="field">
                <label>Joignable au...</label>
                <input type="text" id="tel" placeholder="Numéro de téléphone">
            </div>
            <div class="field">
                <button class="ui primary button" type="button" name="submit" onClick="rechercher();">Valider</button>
	  	    </div>
        </div>
	</div>

    <div id="map"></div>
    
    <script type="text/javascript">

        L.mapbox.accessToken = 'pk.eyJ1IjoibGVtYXgiLCJhIjoidnNDV1kzNCJ9.iH26jLhEuimYd6vLOO6v1g';
        var map = L.mapbox.map('map', 'mapbox.outdoors', {
            maxZoom: 20,
            fullscreenControl: true,
            zoomControl: false
        })
        var layers = {
            "Basique": L.mapbox.tileLayer('mapbox.outdoors').addTo(map),
            "Lumineuse": L.mapbox.tileLayer('mapbox.light'),
            "Sombre": L.mapbox.tileLayer('mapbox.dark'),
            "Comics": L.mapbox.tileLayer('mapbox.comic'),
            "Crayon": L.mapbox.tileLayer('mapbox.pencil')
        }
        L.control.layers(
            layers,
            null,
            {position: 'topleft'}
        ).addTo(map);
        map.setView([48.8534100, 2.3488000], 13);

    </script>

    <script type="text/javascript">
        function rechercher() {
            var date = document.getElementById('date').value;
            var heure = document.getElementById('heure').value;
            var personnes = document.getElementById('personnes').value;
            var info = {
                "date": date,
                "heure": heure,
                "personnes": personnes
            }
            $.ajax({
                type: "POST",
                async: true,
                contentType: "application/json; charset=utf-8",
                url: "/rechercher",
                data: JSON.stringify(info),
                success: function(data) {
                    var restaurants = data.restaurants;
                    for (var i = 0; i < restaurants.length; i++) {
                        var r = restaurants[i];
                        var marker = L.marker([r.lat, r.lon]).addTo(map);
                        var popupText =
                                    "<h1 align='center'>" + r.nom + '</h1>' +
                                    '<p align=center><b>' + r.adresse + '</b></p>' +
                                    '<p align=center><b>' + r.places + ' places</b></p>' +
                                    '<button class="ui primary button" type="submit" onClick="reserver('+ r.rid +');">Réserver</button>';
                        marker.bindPopup(popupText);
                    }
                },
                error: function() {
                    alert("Oups :-("); 
                }
            });
        }

        function reserver(rid) {
            var info = {
                "rid": rid,
                "date": document.getElementById('date').value,
                "heure": document.getElementById('heure').value,
                "personnes": document.getElementById('personnes').value,
                "nom": document.getElementById('nom').value,
                "tel": document.getElementById('tel').value
            }
            $.ajax({
                type: "POST",
                async: true,
                contentType: "application/json; charset=utf-8",
                url: "/reserver",
                data: JSON.stringify(info)
            });
        }
    </script>

{% endblock %}